.battery-health-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
  }
  
  .chart-container {
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    max-width: 100%;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  h2 {
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    color: #016b8c;
    padding: 20px;
  }
  