.valve-control-container .btn {
    font-size: 1.2rem;  
    padding: 10px 20px;  
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s;  
  }
  
  .valve-control-container .btn-success {
    background-color: #016b8c;  
    border-color: #28a745;  
  }
  
  .valve-control-container .btn-success:hover {
    background-color: #007bff;  
    transform: scale(1.05);  
  }
  
  .valve-control-container .btn-secondary {
    background-color: #6c757d;  
    border-color: #6c757d;  
  }
  
  .valve-control-container .btn-secondary:hover {
    background-color: #5a6268;  
    transform: scale(1.05);  
  }
  
  .status-message {
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;  
  }
  